@font-face {
    font-family: 'AtkinsonHyperlegible';
    src: url('https://raw.githubusercontent.com/Jojoes-creative-adventures/Fonts/blob/main/AtkinsonHyperlegible-Bold.ttf');
    src: url('https://raw.githubusercontent.com/Jojoes-creative-adventures/Fonts/blob/main/AtkinsonHyperlegible-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
} 

@font-face {
    font-family: 'AtkinsonHyperlegible';
    src: url('https://raw.githubusercontent.com/Jojoes-creative-adventures/Fonts/blob/main/AtkinsonHyperlegible-Regular.ttf');
    src: url('https://raw.githubusercontent.com/Jojoes-creative-adventures/Fonts/blob/main/AtkinsonHyperlegible-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
} 

@font-face {
    font-family: 'AtkinsonHyperlegible';
    src: url('https://raw.githubusercontent.com/Jojoes-creative-adventures/Fonts/blob/main/AtkinsonHyperlegible-BoldItalic.ttf');
    src: url('https://raw.githubusercontent.com/Jojoes-creative-adventures/Fonts/blob/main/AtkinsonHyperlegible-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
} 

@font-face {
    font-family: 'AtkinsonHyperlegible';
    src: url('https://raw.githubusercontent.com/Jojoes-creative-adventures/Fonts/blob/main/AtkinsonHyperlegible-Italic.ttf');
    src: url('https://raw.githubusercontent.com/Jojoes-creative-adventures/Fonts/blob/main/AtkinsonHyperlegible-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
} 

@font-face {
    font-family: 'ChaumontScript';
    src: url('https://raw.githubusercontent.com/Jojoes-creative-adventures/Fonts/blob/main/ChaumontScript-Regular.woff');
    src: url('https://raw.githubusercontent.com/Jojoes-creative-adventures/Fonts/blob/main/ChaumontScript-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 

@font-face {
    font-family: 'OpenLandeSans';
    src: url('https://raw.githubusercontent.com/Jojoes-creative-adventures/Fonts/blob/main/OpenLandeSans-DemiBold.woff');
    src: url('https://raw.githubusercontent.com/Jojoes-creative-adventures/Fonts/blob/main/OpenLandeSans-DemiBold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 
